* {
    padding: 0;
    margin: 0;  
}
body {
    background-color: wheat;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100vh;
}
.outer-container {
    background-color: teal;
}
.container {
    width: 500px;
    height: 792px;
    background-color: rgb(250, 250, 250, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.content-container-top {
    width: 350px;
    height: 380px;
    margin-top: -20px;
    border: 1px solid lightgray;
    background-color: white;
    margin-top: 20px;
}
.logo{
    width: 90%;
    height: 30%;
    margin: auto;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
input[type="text"], input[type="password"], button {
    width: 268px;
    height: 38px;
    font-size: 12px;
    border-radius: 5px;
    padding: 0px 5px;
    box-sizing: border-box;
    margin: 5px 0;
    border: none;
    color: rgb(38, 38,38);
    background-color: rgb(250, 250, 250, 1);
    border: 1px solid lightgrey;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
button {
    color: white;
    font-size: 15px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: skyblue;
}
h5 {
    width: 75%;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    line-height: 0.1em;
    margin: 10px 0 20px;
    color: grey;
    transform: translateX(17%);
    -webkit-transform: translateX(17%);
    -moz-transform: translateX(17%);
    -ms-transform: translateX(17%);
    -o-transform: translateX(17%);
} 
h5 span { 
     background:#fff; 
     padding:0 5px; 
 }
 .facebook {
     display: flex;
     justify-content: center;
     color: #385185;
     font-family: "Segoe UI";
     font-weight: 600;
     font-size: 1em;
     margin: 15px;
 }
 .facebook > i {
   margin-right: 10px;
   font-size: 1.17em;
 }
 .forgot {
     text-align: center;
     font-size: .9em;
     margin: 10px;
     color: rgb(0, 55, 107);
 }
.content-container-mid{
    width: 350px;
    height: 63px;
    border: 1px solid lightgray;
    margin-top: 20px;
}
.content-container-mid > p {
    text-align: center;
    line-height: 63px;
}
.content-container-mid a {
    text-decoration: none;
    font-weight: 600;
    color: cornflowerblue;

}
.content-container-bottom{
  width: 350px;
  height: 102px;
  text-align: center;
  margin-top: 30px;
} 
.app {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.app img {
    width: 136px;
    height: 40px;
    margin: 0 5px;
}
.last-container {
    width: 95%;
    height: 151px;
    position: relative;
    margin-top: -20px;
    position: fixed;
    bottom: 0;
}
nav {
    display: flex;
    justify-content: space-around;
    font-size: .9em;
    line-height: 151px;
}
nav li, a {
    list-style: none;
    text-decoration: none;
    color: rgb(142, 142, 142);
}
.last-section {
    display: flex;
    justify-content: center;
    font-size: .9em;
    position: absolute;
    top: 70%;
    left: 25%;
    color: rgb(142, 142, 142);
}
select {
  margin-right: 10px;
  border: 0;
  background-color: transparent;
  color: rgb(142, 142, 142);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;

}
.last-section form {
    display: inline-block;
}
form > i {
    margin-left: -15px;
    margin-right: 20px;
}
.arrow {
    border: solid grey;
    border-width: 0 .5px .5px 0;
    display: inline-block;
    padding: 3px;
  }
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.image-container {
display: none;
}
@media only screen and (min-width: 876px) {
    .outer-container {
      width: 1000px;
      display: flex;
      flex-direction: row-reverse;
    }
    .container {
        width: 50%;   
    }
    .last-container {
     width: 100%;
     text-align: center;
    }
    .image-container {
        width: 50%;
        display: grid;
        position: relative;
    }
    .image-container img:nth-child(1){
        width: 550px;
        height: 700px;
        margin: auto;
        align-items: center;
    }
    .image-container img:nth-child(2){
        width: 290px;
        height: 490px;
        position: absolute;
        left: 36%;
        top: 19%;
        border: 3px solid black;
}
  }